*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
    font-family: 'Oswald', sans-serif;
}

.container{
text-align: center;
margin-top: 100px;
width: 100%;

}

#title{
    text-align: center;
    font-size: 50px;
    color:rgb(107, 24, 24);

}
.list{
    margin-top: 20px;
}

#inputText{
    width: 300px;
    height: 46px;
    outline: none;
    border: 1px solid black;
    border: 3px solid rgb(64, 70, 13);
    border-radius: 10px;
    font-size: 25px;
    color:rgb(194, 56, 6);
    text-transform: capitalize;
    vertical-align: middle;
    font-weight: 400;
}
#addToDO{
    width: 80px;
    height: 45px;
    outline: none;
    border: 1px solid black;
    border: 3px solid rgb(64, 70, 13);
    border-radius: 10px;
    font-size: 25px;
    color:white;
    background-color: rgb(55, 120, 41);
    text-transform: capitalize;
    vertical-align: middle; 
    font-weight: 600;
}


#addToDO:hover{
    background-color: rgb(220, 102, 102);
    cursor: pointer;
    color: rgb(6, 6, 6);
    transition: 1s;
}

#clearToDo{
    width: 100px;
    height: 45px;
    outline: none;
    border: 1px solid black;
    border: 3px solid rgb(64, 70, 13);
    border-radius: 10px;
    font-size: 25px;
    color:white;
    background-color: rgb(245, 20, 20);
    text-transform: capitalize;
    vertical-align: middle;  
    font-weight: 600;

}

#clearToDo:hover{
    background-color: rgb(220, 102, 102);
    cursor: pointer;
    color: rgb(6, 6, 6);
    transition: 1s;
}

.paragraph{
    margin-top: 20px;
    margin: 0;
    cursor: pointer;
    font-size: 35px;
    color:purple;
    text-transform: capitalize;
}